
.photo{
    background-color: #eee;
}
#photo{
    background: url('img/background.jpg') no-repeat;
    background-size: 100% 100%
}

.addPhoto{
    color: #eeeeee;
}

.photoDisplay{
    
    margin: 15px auto;
}
.photoDisplay ul{
    list-style: none;
}
.photoDisplay ul li{
    float: left;
    margin: 5px;
    border: thin #333 solid;
}

.displayPhoto{
    width: 85%;
    margin: 15px auto;
    border: thin #eee solid;
}
.displayPhoto img{
    width: 100%;
}
nav ul{
    width:70%; 
    margin: 13px auto;
    list-style: none;
}
nav li{
    padding: 0px 1.3em;
    color: #fff;
    float: left;
    font-size: 18px;
}

nav a{
    color: #fff;
}
nav a:hover{
    color: red;
}

input.ng-invalid {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid green;
}
.signupFrom{
    width: 60%;
    margin: 40px auto;
    border-left: thin blanchedalmond solid;
    border-right: thin blanchedalmond solid;
    padding: 10px;
  
}
#login input.ng-invalid {
  border: 1px solid #eee;
}
#login input.ng-valid {
  border: 1px solid #eee;
}

.home img{
    clip-path: url(#clipping);
}

.application{
    float: none;
    margin: 0px auto;
}

.newsHeader{
    margin: 0px;
    padding: 0.4em 13px 0.45em;
    font-family: 'OpenSansSemiBold', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 21.6px;
    color: rgb(255,255,255);
    background-color: rgb(0,85,149);

}
.newsBox{
    width: 205px;
    padding: 5px;
    background-color: rgb(210,219,236); 
    border-left: 3px solid rgb(0,85,149);
    color: rgb(101, 102, 102);
}
.news{
    float: left;
    margin: 65px 0px 0px 35px;
    width: 205px;
    font-family: 'OpenSansRegular', sans-serif; 
    font-size: 13px;
    line-height: 14px;
}
strong{
    font-weight: normal;
    font-family: 'OpenSansBold', sans-serif;
}
.newsBox a{
    color: rgb(101, 102, 102);
}