<div style="width: 100%" class="home">
    <div style="width:350px; background-color: #000">
        <div style="min-height: 1000px">
            
            <div style="width: 80%; margin: 0px auto 0px;color: #fff">
                <svg>
                    <defs>
                      <clipPath id="clipping">
                        <circle cx="150" cy="150" r="165" />
                      </clipPath>
                    </defs>
                  </svg>

                <img src="./img/jeff.jpg" width="200" height="200"/><br/>
                <h3>Hello, my name is Jeff</h3>
            </div>
            
        </div>
    </div>
</div>