<!--<div class="leftHome">
        <div class="innerLeft">
            <div class="circular"></div>
                <h3>Hello, I am Jeff</h3>
            </div>
    </div>

<div class="home">
    
    <div class="rightHome">
        
    </div>
</div>-->


<div class="wrapper">
    <div class="leftHome">
         <div class="innerLeft">
            <div class="circular"></div>
                <h3>Hello, I am Jeff</h3>
            </div>
    </div>
    <div class="rightHome">
        <div class="rightInner">
            <p>Thank you for taking the time to look over this mini site I built. The purpose of this is to show a bit more of my coding skills so you have a better idea of what I am capable of doing.</p>
            <p>I have not taken a lot of time to get in to full design details for this site being that I really wanted to just show off some use of PHP, Javascript, AngularJs, jQuery as well as some HTML and CSS.
            </p>
            <p>
                I primarily work with the following language: HTML, HTML5, CSS3, PHP/PHP OOP and MySQL, Javscript. About 6 months ago, I started to notice more and more that companies where looking for Front End Designers that had more understanding of the MVCs and Libraries so I started to work with CodeIgnitor, Zend and for Javscript, Angular, Backbone and Node and of course Bootstrape which this site is using as the base CSS. 
            </p>
            <p>I actually built this site using AngularJs as the framework for the site. I am using a config() the navigation which would include redirects for a few of the forms I have set up and just running controllers for the rest. I ask that you go through the site which will take about 2 minutes of your time. Again this is a very basic site that is meant to show what I can build.</p>
            <p>My code for this whole project is uploaded to Git Hub, please click this <a href='https://github.com/jeffcarlsonjr/Portfolio' target="_blank">here</a> to see my code!</p>
        </div>
    </div>
    
</div>