<div class="container" id="photo" >
            <div class="row">
                <div class="col-lg-12">
                    <h3>I built a PHP photo uploader that takes the photo that is uploaded and does 2 things, resizes to 2 different sizes, one for viewing and one for thumbnail. From there they are imported in to 2 separate files. I am then using AngulalJS with an Ajax call to show the picture on the left and right sides. You can also click on the pictures on the right to show them in the left.</h3>
                </div>
                <div class="photoDisplay col-lg-5">
                    <h3 align='center'><b>Click on one of the images</b></h3>
                    <ul>
                        <li ng-repeat="photos in photo"><img ng-src="./imageThumbs/{{photos.path}}"  alt="{{photos.alt}}" title="{{photos.alt}}" width="100" height="75" ng-click="setImage(photos.path)" /></li>
                    </ul>
                </div>
                <div class="col-lg-7">
                    <div class="displayPhoto" >
                        <img ng-src="./images/{{first}}" alt="{{photo.alt}}" title="{{photo.alt}}" />
                    </div>
                    <div class="addPhoto col-lg-5">
                      <h2>Add New Photos</h2>
                      <form method="post" enctype="multipart/form-data" action="./addphotos.php">
                            <label>Please select a photo to upload</label><br/>
                            <input type="file" name="file" class="form-control"/>
                            <label>Add a location</label><br/>
                            <input type="text" name="alt" class="form-control" required/><br/>
                            <input type="submit" name="addPhoto" value="Add a Photo" class="btn-primary"/>
                        </form>  
                    </div>
                </div>
                
            </div>
        </div>